{% extends "base.html" %}          <!-- use base.html as the layout wrapper -->
{% block content %}

<link rel="stylesheet" href="/static/style-create-listing.css">

<div class="form-wrap">
    <h2>Post an Item</h2>
    <form action="/api/listing" method="POST">                       <!-- submits form data back to /post as a POST request -->

        <label>Email</label>
        <input type="text" value="{{ user.email }}" disabled>

        <label>Name</label>
        <input type="text" value="{{ user.name }}" disabled>

        <a href="/logout" class="btn-switch-acct">Switch Account</a>
        <br>
        <br>

        <label>Title</label>
        <input type="text" name="title" placeholder="e.g. Chemistry Textbook" required>
        <!-- required means the browser won't submit if this is empty -->

        <label>Description</label>
        <textarea name="description" placeholder="Describe the item — condition, edition, etc." required></textarea>
        <!-- textarea is a multi-line text box -->

        <label>Price ($)</label>
        <input type="number" name="price" placeholder="e.g. 25.00" step="0.01" min="0" required>
        <!-- step="0.01" allows decimal prices, min="0" prevents negative prices -->

        <label>Location</label>
        <input type="text" name="location" placeholder="ex: The Grove">

        <label>Category</label>
        <select name="category">               <!-- dropdown menu -->
            <option value="Textbooks">Textbooks</option>
            <option value="Electronics">Electronics</option>
            <option value="Furniture">Furniture</option>
            <option value="Clothing">Clothing</option>
            <option value="Other">Other</option>
        </select>

        <!-- type="email" makes the browser check it's a valid email format -->

        <button type="submit">Post Listing</button>   <!-- submits the form -->
    </form>
</div>

{% endblock %}